@model QLNV_VB.Models.PhongBan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>XÓA</h2>

<h3>Bạn có chắc chắn muốn xóa ?</h3>
<div>
    <h2>Phòng Ban</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @* @Html.DisplayNameFor(model => model.TenPB)*@
            Tên phòng ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
