@model QLNV_VB.Models.PhongBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div>
    <h4>Phòng ban</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.TenPB)*@
            Tên Phòng Ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaPB }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
